<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>J.J.Huang</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><br/>
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">https://morosedog.gitlab.io/j.j.blogs/</a>
        Hello, <strong>J.J.Huang!</strong>
    </div>
</div>
</body>
</html>